.account-wrapper {
  display: flex;
  align-items: center;
  margin-left: $space;
  padding-left: $space;
  height: 60px;
  border-left: 1px solid $gray-light;
  order: 2;

  > .avatar {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 2px solid $gray;
  }

  > .text-wrapper {
    @media (max-width: $smartphone) {
      display: none;
    }

    @media (min-width: $tablet) {
      margin-left: $space-xs;
      cursor: pointer;

      &:hover ~ .arrow {
        transform: rotate(180deg);
      }
    
      > .message {
        font-size: 12px;
        color: $gray;
        font-weight: bold;
      }

      > .name {
        color: $gray-dark;
      }
    }
  }

  > .arrow {
    width: 0; 
    height: 0; 
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid $gray-dark;
    margin-left: $space-sm;
    cursor: pointer;
    transition: transform 0.2s linear;
  }
}