.owl-carousel {
  .owl-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $space-md;
    pointer-events: none;

    .owl-next,
    .owl-prev {
      width: 30px;
      height: 30px;
      border-top: 6px solid rgba(255, 255, 255, 0.5);
      border-right: 6px solid rgba(255, 255, 255, 0.5);
      text-indent: 999999px;
      transition: border-color 0.2s linear;
      pointer-events: auto;

      &:hover {
         border-color: #fff;   
      }
    }

    .owl-prev {
      transform: rotate(-134deg);
    }

    .owl-next {
      transform: rotate(44deg);
    }
  }

  .owl-dots {
    background: #fff;
    max-width: 100px;
    height: 40px;
    position: absolute;
    bottom: -18px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);

    > .owl-dot {
      width: 14px;
      height: 14px;
      background: darken($gray-light, 20%);
      border-radius: 50%;
      &:not(:first-child) {
        margin-left: $space-xs;
      }

      &.active {
        background: $gray-dark;
      }
    }
  }
}

.banner-wrapper {
  height: 100%;
  width: 100%;

  > .image {
    height: 330px;
    object-fit: none;
    object-position: center;
  }

  .infos-wrapper {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;

    > .container {
      display: flex;
      align-items: center;
      height: 100%;
    }
  }

  .info-box {
    padding: $space;
    height: 260px;
    width: 400px;
    background: rgba(0, 0, 0, 0.50);
    color: #fff;

    @media (max-width: $tablet-max) {
      text-align: center;
    }

    > .title {
      font-weight: bold;

      @media (max-width: $smartphone) {
        margin-bottom: $space-xs;
        font-size: 24px;
      }

      @media (min-width: $smartphone-max) {
        margin-bottom: $space;
        font-size: 30px;
      }
    }

    > .action {
      display: inline-block;
      margin-top: $space;
      padding: $space-sm $space;
      font-weight: bold;
      font-size: 13px;
      text-transform: uppercase;
      color: #fff;
      text-decoration: none;
      border: 2px solid #fff;
      border-radius: 2em;
      transition: background 0.2s linear, color 0.2s linear;

      &:hover {
        background: #fff;
        color: $gray;
      }
    }
  }
}