.my-courses {
  @extend .container;
  margin: $space auto;

  @media (max-width: $smartphone) {
    margin-top: $space-lg;
  }

  > .title {
    padding-bottom: 4px;
    color: $gray-dark;
    font-size: 28px;
    text-transform: uppercase;
    border-bottom: 1px solid $gray;

    @media (max-width: $smartphone) {
      text-align: center;
      width: 100%;
    }
  }
}

.courses-list {
  margin: $space-md 0;
  lost-center: 1280px;

  > .course {
    padding-bottom: $space-md;
    margin-bottom: $space-md;
    height: 340px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.10);
    animation: fade-in 0.8s ease-in-out;
    position: relative;

    @media (max-width: $smartphone-max ) {
      lost-column: 1/1 1;
    }

    @media (max-width: $tablet-max) {
      lost-column: 1/3 3;
    }

    @media (min-width: $desktop) {
      lost-column: 1/4 4;
    }    

    > .image {
      width: 100%;
    }
    
    > .infos {
      padding: $space $space 0 $space;
      font-weight: bold;

      > .name {
        font-weight: bold;
        color: $gray-dark;
        margin-bottom: $space-xs;
      }

      > .text {
        display: block;
        font-size: 13px;
        max-width: 40ch;
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: break-word;
        max-height: 3.2em;
        line-height: 1.8em;
        color: $gray;
      }

      > .action {
        position: absolute;
        bottom: $space;
        left: 0;
        right: 0;
        margin: 0 auto;
        display: block;
        width: 80%;
        padding: $space-sm 0;
        margin-top: $space;
        color: #fff;
        font-size: 13px;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        background: #01A02A;
        border-radius: 2em;
        cursor: pointer;
        transition: background 0.4s linear;

        &:hover {
          background: darken(#01A02A, 10%);
        }
      }
    }

    &.-upload {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 2px dashed lighten($gray-dark, 10%);
      background: transparent;

      > .icon {
        fill: lighten($gray-dark, 10%);
        width: 100px;
        height: 100px;
      }

      > .text {
        color: lighten($gray-dark, 10%);
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        font-size: 26px;
      }
    }    
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}