.modal {
  overflow: hidden;
  opacity: 0;
  visibility: hidden;

  &.is-active {
    opacity: 1;
    visibility: visible;

    > .overlay {
      opacity: 1;
    }

    > .content {
      opacity: 1;
      
      @media (max-width: $tablet-max) {
        transform: translateY(30px);   
      }

      @media (min-width: $desktop) {
        transform: translateY(200px);
      }
    }
  }

  > .overlay {
    height: 1500px;
    width: 100%;
    background: rgba(0, 0, 0, 0.80);
    position: absolute;
    top: 0;
    z-index: 10;
    opacity: 0;
    transition: opacity 0.5s linear;
  }

  > .content {
    position: absolute;
    top: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #fff;
    border-radius: 10px;
    z-index: 11;
    opacity: 1;
    will-change: transform;
    transition: transform 1s ease-in-out;

    @media (max-width: $tablet-max) {
      width: 80%;
      height: 460px;
    }

    @media (min-width: $desktop) {
      width: 860px;
      height: 522px;
    }

    > .close {
      position: absolute;
      right: -20px;
      top: -20px;
      width: 50px;
      height: 50px;
      background: #fff;
      border-radius: 50%;
      border: none;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
      cursor: pointer;

      > .icon {
        fill: #ff9277;
        width: 40px;
        height: 40px;
      }
    }

    > .image {
      width: 100%;
      border-radius: 10px 10px 0 0;
    }

    > .title {
      font-size: 30px;
      text-align: center;
      margin: $space;
    }

    > .text {
      text-align: left;
      margin: 0 auto;
      color: $gray;

      @media (max-width: $tablet-max) {
        width: 90%;
      }

      @media (min-width: $desktop) {
        width: 60%;
      }
    }

    > .action {
      display: block;
      margin: $space-lg auto;
      padding: $space-sm 0;
      color: #fff;
      text-align: center;
      text-decoration: none;
      background: #1da2da;
      border-radius: 3em;
      transition: background 0.3s linear;

      @media (max-width: $tablet-max) {
        width: 80%;
      }

      @media (min-width: $desktop) {
        width: 320px;
      }

      &:hover {
        background: darken(#1da2da, 10%);
      }
    }
  }
}