.search-form {
  height: 46px;
  position: relative;

  @media (max-width: $smartphone) {
    order: 2;
    width: 98%;
    position: absolute;
    bottom: $space-xs;
    right: 0;
    left: 0;
    margin: 0 auto;
  }

  @media (min-width: $tablet) {
    width: 300px;
  }

  > .input {
    width: 100%;
    height: 100%;
    color: lighten(#000, 40%);
    text-indent: 2ch;
    background: $gray-light;
    border-radius: 2em;
    border: 1px solid #E3E3E3;
    outline: none;
    transition: box-shadow 0.2s linear;

    &:focus {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.10);
    }
  }

  > .button {
    position: absolute;
    top: 6px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    
    &:hover > .icon {
      fill: darken($gray, 20%);
    }

    > .icon {
      fill: $gray;
      transition: fill 0.2s linear;
    }
  }
}
