.main-footer {
  background: #fff;

  > .top {
    @media (max-width: $tablet-max) {
      padding: $space 0;
      text-align: center;
    }

    > .top-inner {
      @extend .container;
      display: flex;
      align-items: center;

      @media (max-width: $tablet) {
        flex-direction: column;
      }

      @media (min-width: $desktop) {
        height: 150px;
      }

      > .logo {
        font-size: 13px;
        color: $gray;

        @media (max-width: $tablet-max) {
          margin-bottom: $space;
        }        

        a {
          margin-bottom: $space-xs;
          display: block;
        }
      }

      > .contact,
      > .social {
        color: $gray-dark;
        font-size: 13px;

        strong {
          text-transform: uppercase;
          display: block;
          margin-bottom: $space-sm;
          font-size: 16px;
        }

        a {
          color: $gray-dark;
          text-decoration: none;
        }

        height: 80px;
      }

      > .contact {
        @media (max-width: $tablet-max) {
          margin-bottom: $space;
        }
      }

      > .social {
        @media (min-width: $desktop) {
          margin-left: $space-xlg;
        }

        > .list {
          display: flex;

          > .item {
            &:not(:first-child) {
              margin-left: $space-xs;
            }

            a {
              background: $gray;
              display: block;
              border-radius: 50%;
              width: 40px;
              height: 40px;
              display: flex;
              align-items: center;
              justify-content: center;
              transition: background 0.2s linear;

              &:hover {
                background: darken($gray, 20%);
              }
            }

            .icon {
              fill: #fff;
              width: 30px;
              height: 30px;
            }          
          }
        }
      }
    }

  }

  > .bottom {
    padding: $space-sm 0;
    background: #E5E1E2;
    color: $gray;
    font-size: 13px;

   >  .bottom-inner {
      @extend .container;

      p {
        @media (max-width: $tablet-max) {
          text-align: center;
          width: 100%;
        }
      }
    }
  }
}