.main-header {
  background: #fff;
  height: 98px;
  position: relative;

  @media (max-width: $smartphone) {
    height: 140px;
    padding-bottom: $space-lg;
  }

  > .container {
    height: 100%;
    display: flex;
    align-items: center;
  }
}