*, 
*:after,
*:before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
}

html {
	height: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
	background: $gray-light;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

main {
	overflow: hidden;
	flex-grow: 1;
}

img {
	max-width: 100%;
}

li {
	list-style: none;
}

input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
