$smartphone   			: 520px;  // Extra small screen / phone
$tablet   					: 768px;  // Small screen / tablet
$desktop  					: 992px;  // Medium screen / desktop
$wide-desktop 		  : 1200px; // Large screen / wide desktop
$wide-desktop-lg  	: 1600px; // Extra Large screen / wide desktop
$wide-desktop-xlg 	: 1900px; // Extra Large screen / wide desktop

$smartphone-max				: ($tablet - 1);
$tablet-max						: ($desktop - 1);
$desktop-max					: ($wide-desktop - 1);
$wide-desktop-max			: ($wide-desktop-lg - 1);
$wide-desktop-lg-max	: ($wide-desktop-xlg - 1);
