$space         : 20px;                 // Regular space margin
$space-xs      : ($space / 4);         // Extra small space margin
$space-sm      : ($space / 2);         // Small space margin
$space-md      : ($space + $space-sm); // Medium space margin
$space-lg      : ($space * 2);         // Large space margin
$space-xlg     : ($space * 4);         // Extra Large space margin